::after,
::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
    max-width: 1440px;
    margin: 0 auto;
    padding: 0px;
    font-family: Inter;
}

/*block*/
.lesson{
    background-color: #F5F7FA;
    display: flex;
    justify-content: center;
    gap: 104px;
    height: 599px;
}

.lesson-text{
    margin-top: 161px;
}

.lesson-title{
    width: 657px;
    height: 152px;
    font-weight: 600;
    font-size: 64px;
    line-height: 76px;
    color: #4D4D4D;
    margin: 0px;
}

.span-lesson{
    font-size: 64px;
    line-height: 76px;
    color: #4CAF4F;
}

.lesson-p{
    width: 657px;
    height: 24px;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: #717171;
    margin-bottom: 32px;
}

.lesson-button{
    align-items: center;
    padding: 14px 32px;
    gap: 10px;
    width: 128px;
    height: 52px;
    background: #4CAF4F;
    border-radius: 4px;
    border: none;
    color: #FFFFFF;
    font-size: 16px;
    font-weight: 500;
    font-family: Inter;
}

.lesson-foto{
    width: 391px;
    height: 457px;
    margin-top: 96px;
}

.rtt{
    padding: 0px;
    gap: 8px;
    position: absolute;
    width: 46px;
    height: 10px;
    left: calc(50% - 46px/2);
    top: 573px;
}


/*block2*/
.content{
    margin-top: 48px;
    display: flex;
    gap: 49px;
    justify-content: center; 
}

.foto{
    width: 441px;
    height: 433px;
}

.block{
    width: 601px;
    height: 308px;
    margin-top: 62px;
}

.title h2{
    font-size: 36px;
    font-weight: 600;
    margin: 0px;
    padding: 0px;
    color: #4D4D4D;
}

.text p{ 
    font-size: 14px;
    font-weight: 400;
    padding-top: 16px;
    padding-bottom: 32px;
    color: #717171;
    margin: 0px;
    width: 601px;
    height: 120px;

}

.button{
    width: 151px;
    height: 52px;
    background-color:#4CAF4F;
    border-radius: 4px;
    border: 0;
    cursor: pointer;
    font-size: 16px;
    color: white;
    margin: 14px 0px;
    font-weight: 500;
    box-shadow: none;
    border: 0;
    font-family: Inter;
}

/*тсили к marketing*/
.heading{
    width: 1110px;
    height: 124px;
    display: flex; 
    flex-direction: column; 
    justify-content: center;
    align-items: center;  
    margin: 0 auto;
    margin-top: 48px;
}

h3{
    margin-top: 48px;
    font-weight: 600;
    font-size: 36px;
    line-height: 44px;
    text-align: center;
    margin: 0px;
    color: #4D4D4D;
}

.text-heading{
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    text-align: center;
    width: 628px;
    height: 72px;
    margin: 0px;
    margin-top: 8px;
    color: #717171;
    margin-bottom: 16px;
}

.container{
    height: 366px;
    display: flex;
    gap: 24px;
    margin: 0 auto;
    justify-content: center;
    margin-top: 16px;
}

.img-container{
    display: flex;
    flex-direction: column; 
    justify-content: center;
    align-items: center; 
}

.card{
    width: 368px;
    height: 366px;
    position: relative;
}

.block-grey{
    position: absolute;
    top: 190px;
    left: 25.5px;
    width: 317px;
    height: 176px;
    gap: 16px;
    opacity: 1;
    border-radius: 8px;
    padding: 16px;
    background-color: #F5F7FA;
    padding: 0px;
    box-shadow: 0px 8px 16px rgba(171, 190, 209, 0.4);
}

.text_block_p,
.text_block_p__none{
    font-weight: 600;
    font-size: 20px;
    line-height: 28px;
    text-align: center;
    max-width: 285px;
    max-height: 84px;
    color: #717171;
    padding: 16px;
    margin: 0;
}

.text_block_p__none {
    max-width: 265px;
    max-height: 84px;
}

.green-text {
    font-weight: 600;
    font-size: 20px;
    line-height: 28px;
    height: 44px;
    color: #4CAF4F;
    margin: 0px auto;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 8px;
}

.arrow{
    width: 24px;
    height: 24px;
    padding-left: 8px;
}

/*over-footer*/
.overd-footer{
    margin-top: 95px;
    height: 300px;
    background: #F5F7FA;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.overd-footer p{
    width: 887px;
    height: 152px;
    font-weight: 600;
    font-size: 64px;
    line-height: 76px;
    text-align: center;
    color: #263238;
    padding: 32px 0px 32px;
    align-items: center;
    margin: 0 auto;
}

.overd-footer button{
    display: flex;
    padding: 14px 32px;
    gap: 8px;
    width: auto;
    min-width: 178px;
    height: 52px;
    background: #4CAF4F;
    border-radius: 4px;
    border: none;
    font-family: Inter;
    margin: 0 auto;
    justify-content: center;
    align-items: center;
}

/* Стили для текста внутри кнопки */
.overd-footer-button .green-buttom{
    width: auto; 
    height: auto;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    color: #FFFFFF;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 8px;
    white-space: nowrap; 
}

.green-buttom{
    padding: 0px;    
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    color: #FFFFFF;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 8px;
    white-space: nowrap; 
}


/*footer*/
.footer{
    display: flex;
    gap: 30px;
    background-color: #263238;
    width: 100%;
    bottom: 0;
    left: 0;
    width: 100%;
    justify-content: center;
}
  
.footer-logo{
    margin-top: 64px;
}

.footer-logo img{
   width: 191px;
   height: 29px;
}
  
.li-one,
.li-two,
.li-three
{
    font-size: 14px;
    margin-top: 64px;
    font-weight: 400;
    line-height: 20px;
}

.icon{
  text-decoration: none;
  list-style: none;
  display: flex;
  margin-top: 40px;
}

.icon li{
    padding-right: 16px;
}
  
.icon img{
    width: 32px;
    height: 32px;
}

.li-logo{
    font-weight: 400;
    line-height: 20px;
    font-size: 14px;
    margin-top: 40px;
}

.li-one{
    margin-left: 125px;
}

/*.list ul{
    padding: 0px;
}*/

.footer ul{
    padding-left: 0px;
}
  
.list li{
    padding-bottom: 12px;
    color: white;
    list-style: none;
    text-decoration: none;
}
 
.over-footer-li {
    color: white;
    text-decoration: none;
}

.main_li{
    font-size: 20px;
    font-weight: 600px;
    margin-bottom: 24px;
}


.input-group {
    position: relative;
    display: flex;
    align-items: center;
}

.email-input {
    width: 255px;
    height: 40px;
    background-color: #4D4D4D;
    border: none;
    border-radius: 8px;
    font-size: 14px;
    padding-left: 12px;
    color: #D9DBE1;
}

.submit-btn {
    position: absolute;
    right: 12px;
    background:  #4D4D4D;
    border: none;
    padding: 8px 20px;
  
}

.submit-btn img 
{
    width: 18px;
    height: 18px;
}