body{
    max-width: 1440px;
    margin-left: 0 auto;
    margin-right: 0 auto;
    padding: 0px;
    font-family: Inter;
}

.content{
    display: flex;
    gap: 49px;
}

.block{
    width: 661px;
    height: 268px;
}

.title{
    font-size: 36px;
    font-weight: 600;
    width: 601;
    height: 88px;
}

.title h2{
    font-size: 36px;
    font-weight: 600;
    margin: 0px;
    padding: 0px;
}

.text{
    font-size: 14px;
    font-weight: 400px;
    padding-top: 16px;
    padding-bottom: 32px;
}

.text p{ 
    padding: 0px;
    margin: 0px;
    width: 601px;
    height: 120px;
}

.button{
    width: 151px;
    height: 52px;
    background-color:#4CAF4F;
    border-radius: 4px;
    border: 0;
}

.button p{
    font-size: 16px;
    font-weight: 500;
    box-shadow: none;
    border: 0;
}