::after,
::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
    max-width: 1440px;
    margin: 0 auto;
    padding: 0px;
    font-family: Inter;
}

.ul_header {
  display: flex;
  list-style: none;
  text-decoration: none;
  height: 84px;
  list-style: none;
  width: 1440px;
  text-align: center;
  gap: 50px;
  justify-content: center;
  align-items: center;
  padding: 0px;
  background-color: #F5F7FA;
  margin: 0px;
  
  
}
.logo {
   margin-left: 105px;
   margin-top: 30px;
}
.home{
    margin-left:116px;
    margin-top: 30px;
}

.li_li
{
    font-size: 16px;
    margin-top: 30px;
}
.green {
    width: 77px;
    height: 40px;
   background-color: #4CAF4F;
   color: white;
   border-radius: 6px;
   border: none;
   margin-top: 22px;
   font-size: 14px;
}
.white {
    width: 77px;
    height: 40px;
   color: #4CAF4F;
   border: none;
   margin-top: 22px;
   font-size: 14px;
}
.li_button{
    margin-left: 124px;
    
}
.footer{
    display: flex;
    gap: 30px;
    background-color: #263238;
    width: 100%;
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    justify-content: center;
  }
  
  .footer-logo{
   margin-left: 165px;
   margin-top: 64px;

  }
  
  .footer-logo img{
   width: 191px;
   height: 29px;
  }
  
  .li-one,
  .li-two,
  .li-three
  {
    font-size: 14px;
    margin-top: 64px;
    font-weight: 400;
    line-height: 20px;
  }
 .icon{
  text-decoration: none;
  list-style: none;
  display: flex;
  margin-top: 40px;
 }
.icon li{
    padding-right: 16px;
}
  
  .icon img{
    width: 32px;
    height: 32px;
  }
  .li-logo{
    font-weight: 400;
    line-height: 20px;
    font-size: 14px;
    margin-top: 40px;
  }
  .li-one
  {
    margin-left: 125px;
  }
  
  .list li{
    padding-bottom: 12px;
    color: white;
    list-style: none;
    text-decoration: none;
  }
 
  .over-footer-li {
    color: white;
    text-decoration: none;
  }
  .main_li{
    font-size: 20px;
    font-weight: 600px;
    margin-bottom: 24px;
  }


.input-group {
    position: relative;
    display: flex;
    align-items: center;
}

.email-input {
    width: 255px;
    height: 40px;
    background-color: #4D4D4D;
    border: none;
    border-radius: 8px;
    font-size: 14px;
    padding-left: 12px;
    color: #D9DBE1;
}

.submit-btn {
    position: absolute;
    right: 12px;
    background:  #4D4D4D;
    border: none;
    padding: 8px 20px;
  
}
.submit-btn img 
{
    width: 18px;
    height: 18px;
}

/*block*/
.lesson{
    background-color: #F5F7FA;
    display: flex;
    justify-content: center;
    gap: 104px;
    height: 599px;
}

.lesson-text{
    margin-top: 161px;
}

.lesson-title{
    width: 657px;
    height: 152px;
    font-weight: 600;
    font-size: 64px;
    line-height: 76px;
    color: #4D4D4D;
    margin: 0px;
}

.span-lesson{
    font-size: 64px;
    line-height: 76px;
    color: #4CAF4F;
}

.lesson-p{
    width: 657px;
    height: 24px;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: #717171;
    margin-bottom: 32px;
}

.lesson-button{
    align-items: center;
    padding: 14px 32px;
    gap: 10px;
    width: 128px;
    height: 52px;
    background: #4CAF4F;
    border-radius: 4px;
    border: none;
    color: #FFFFFF;
    font-size: 16px;
    font-weight: 500;
    font-family: Inter;
}

.lesson-foto{
    width: 391px;
    height: 457px;
    margin-top: 96px;
}

.rtt{
    padding: 0px;
    gap: 8px;
    position: absolute;
    width: 46px;
    height: 10px;
    left: calc(50% - 46px/2);
    top: 660px;
}